<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-5">
            <h3 style="margin: 0 0 20px 0">Lista de livros</h3>
            <div class="table-responsive" style="margin-top: 20px;">
                <table datatable [dtOptions]=" dtOptions" class="table border-table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Livro</th>
                            <th class="text-center">Autor</th>
                            <th class="text-center">CPF</th>
                            <th class="text-center">Data publicacao</th>
                            <th class="text-center">Editor</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let book of books'>
                            <td class="text-center">{{book.id}}</td>
                            <td class="text-center">{{book.name}}</td>
                            <ng-template ngFor let-author [ngForOf]="book.authorSet">
                                <td class="text-center">
                                    {{author.name}}
                                </td>
                                <td class="text-center">
                                    {{author.cpf}}
                                </td>
                            </ng-template>
                            <td class="text-center">{{book.publicationDate}}</td>
                            <td class="text-center">{{book.editor.name}}</td>
                            <td><i class="fa fa-edit" style="cursor: pointer;" data-toggle="modal" data-target="#modalEditBook" (click)="getBook(book)"></i>
                            </td>
                            <td><i class="fa fa-trash" style="cursor: pointer; color: red" (click)="this.deleteBook(book.id)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-right mt-3">
                <button mat-mini-fab style="background-color: #e48d32;" [routerLink]="['/books-register']" aria-label="Adicionar livro">
          <mat-icon>add_list</mat-icon>
        </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditBook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Livro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">


                <div class="col-12">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nome do livro</mat-label>
                        <input matInput placeholder="Digite o nome do livro" value="{{this.bookName}}">
                    </mat-form-field>
                </div>

            </div>
            <div class="modal-footer">
                <button mat-stroked-button style="color: #e48d32; margin-right: 15px;" data-dismiss="modal">Fechar</button>
                <button mat-stroked-button style="color: #e48d32;" type="submit">Salvar</button>
            </div>
        </div>
    </div>
</div>