<div class="container">
    <h3 class="mt-5">Cadastro de Editor</h3>
    <div class="row mt-3">

        <div class="col-12">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Nome do Editor</mat-label>
                    <input matInput placeholder="Digite o nome do Editor" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>CPF do Editor</mat-label>
                    <input matInput appOriginalMask="cpf" maxlength="14" placeholder="Digite o CPF do Editor" value="">
                </mat-form-field>

                <div class="row">
                    <div class="col text-right">
                        <button mat-stroked-button style="color: #e48d32; margin-right: 15px;" [routerLink]="['/editors']">Voltar</button>
                        <button mat-stroked-button style="color: #e48d32;">Salvar</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>