<div class="container">
    <h3 class="mt-5">Cadastro de Autor</h3>
    <div class="row mt-3">

        <div class="col-12">
            <form [formGroup]="authorForm" (ngSubmit)="authorRegister();" class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Nome do Autor</mat-label>
                    <input formControlName="name" matInput placeholder="Digite o nome do Autor" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>CPF do Autor</mat-label>
                    <input formControlName="cpf" appOriginalMask="cpf" maxlength="14" matInput placeholder="Digite o nome do Autor" value="">
                </mat-form-field>

                <div class="row">
                    <div class="col text-right">
                        <button mat-stroked-button style="color: #e48d32; margin-right: 15px;" [routerLink]="['/authors']">Voltar</button>
                        <button mat-stroked-button style="color: #e48d32;" type="submit">Salvar</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>